.pu-textarea {
    @extend .pu-input;

    max-width: 100%;
    min-width: 100%;
    min-height: 132px;
    line-height: 1.6em;
    white-space: pre-wrap;
    overflow-x: hidden; // Required for firefox!

    &-grow {
        min-height: 46px;
        max-height: 200px;
        line-height: normal;
    }

    &-condensed {
        min-height: 72px;
    }

    &.pu-sub-comment {
        font-size: 14px;
        min-height: 44px;
    }
}
