.pu-activity {
  padding: 0;

  grid-column: span 3;
  -ms-grid-column-span: 3;

  display: grid;
  grid-template-columns: calc(100% - 40px) 40px;

  display: -ms-grid;
  -ms-grid-columns: calc(100% - 40px) 40px;

  > * {
    padding: 3px 12px;
  }

  &-header {
    grid-column: 1;
    grid-row: 1;

    -ms-grid-column: 1;
    -ms-grid-row: 1;

    padding: 6px 12px 10px 12px;

    .pu-tag {
      margin-right: 10px;
    }

    .title {
      padding: 7px 0px 0px 0px;
      display: inline-block;
      font-size: 15px;
      line-height: 18px;
      font-weight: 700;

      > a:focus, > a:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  &-more-options {
    grid-column: 2;
    grid-row: 1;

    -ms-grid-column: 2;
    -ms-grid-row: 1;

    cursor: pointer;
    position: relative;
    padding: 0;
    padding-top: 5px;

    .pu-dropdownie {
      padding: 0;
      position: absolute;
      right: -2px;
      top: 26px;

      .pu-sub-arrow {
        display: none;
      }

      .pu-list-dropdown {
        position: relative;
        padding: 0;
        min-width: 140px;
        list-style: none;

        .pu-dropdown-item {
          > a {
            display: block;
            padding: em(8) em(10);
            color: $color-text;
            text-decoration: none;
          }

          &:hover {
            background: $color-background-secondary;
          }
        }
      }
    }
  }

  &-content {
    grid-column: span 2;
    grid-row: 2;

    -ms-grid-column-span: 2;
    -ms-grid-row: 2;

    .pu-paragraph {
      font-size: 14px;
      padding: 0px;
    }
  }

  &-meta {
    list-style: none;

    grid-column: span 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;

    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;

    display: -ms-grid;
    -ms-grid-columns: auto auto auto 1fr auto auto;

    border-top: 2px solid #eee;

    padding-top: 3px;
    padding-bottom: 3px;

    > * {
      grid-row: 1;
      align-self: center;
      justify-self: start;
      position: relative;

      -ms-grid-row: 1;

      padding: 1px 12px 0px 10px;

      height: 30px;
      line-height: 30px;

      &:nth-child(1) {
        -ms-grid-column: 1;
      }
      &:nth-child(2) {
        -ms-grid-column: 2;
      }
      &:nth-child(3) {
        -ms-grid-column: 3;
      }

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 0;
        width: 2px;
        background: #eee;
      }

      &:last-child:after {
        width: 0;
      }

      > * {
        color: #999;
      }

      a, button {
        &:active, &:focus, &:hover {
          color: darken(#999, 10%);
          transition: color 0.2s linear;
        }
      }

      > a {
        &.pu-state-unread {
          color: $color-secondary;

          &:active, &:focus, &:hover {
            color: darken($color-secondary, 10%);
          }
        }
      }
    }

    .meta {
      &-files {
        span {
          font-size: 14px;
          line-height: 24px;
        }
      }
      &-me {
        grid-column: 5;
        -ms-grid-column: 5;
        svg{
          padding-top: 3px;
        }
        button {
          padding: 2px 7px 2px;
          display: inline-flex;
          span {
            color: #ffa725;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
      &-you {
        grid-column: 6;
        -ms-grid-column: 6;
        i {
          color: #ffa725;
        }
        span {
          color: #ffa725;
          font-size: 14px;
        }
      }
    }

    .picon {
      font-size: em(14);
      padding-right: 5px;
      pointer-events: none;

      &-chat {
        font-size:12px;
        padding-right: 3px;
      }

      &-documents {
        font-size: 14.5px;
        // padding-top: 5px;
        vertical-align: middle;
      }
    }
  }

  &-contributions {
    grid-column: span 2;
    border-top: 2px solid #eee;

    -ms-grid-row: 4;
    -ms-grid-column-span: 2;

    .pu-avatar-stack {
      padding-top: 3.5px;

      li.pu-avatar-small {
        width: 34px;
        height: 34px;
        margin-left: -15px;
        border: 2px solid white;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &-attachments {
    grid-column: span 2;
    border-top: 2px solid #eee;
  }

  &-listview {
    margin-bottom: 30px;
  }

  &-boardview {
    > aside {
      height: 25px;
      padding-top: 5px;
      justify-self: end;

      svg {
        width: 32px;
      }

      .pu-dropdownie {
        top: 24px;
      }
    }

    .pu-activity-header {
      padding-bottom: 7px;
    }

    .pu-activity-content {
      margin-top: -7px;
      padding-bottom: 6px;

      .pu-paragraph {
        padding-top: 0;
      }
    }

    .pu-activity-meta {
      grid-template-columns: auto auto auto 1fr;

      > li {
        padding-right: 7px;

        &.meta-files {
          button {
            padding: 0;
          }
        }
      }
    }

    .pu-avatar-stack {
      height: 37px;
      margin-left: -2px;

      li.pu-avatar-small {
        height: 30px;
        width: 30px;
      }
    }
  }

  &-detail {
    .pu-activity-contributions {
      .pu-avatar-stack {
        padding: 9px 0px 9px;

        > li {
          padding: 3px 0;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }

        .pu-avatar .picon-pencil{
          margin-top: 2px;
        }
      }
    }
  }

  &-create {
    .pu-activity-header {
      padding-top: 5px;
    }
  }

  &-archived {
    .pu-activity-header {
      .title {
        color: #999;
        > a {
          color: #999;
        }
      }
    }
  }
}
