.pu-update {
    @extend %clearfix;
    display: flex;

    > aside, > article {
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    > aside {
      width: 80px;

      .pu-sub-time {
        color: $color-text;
        font-size: 12px;
        font-family: $font-primary;
        letter-spacing: 0.6px;
      }
    }

    > article {
      flex: 1 1;

      > header > h3 {
        font-size: 15px;
        color: $color-secondary;
        font-weight: 600;
        margin: 8px 0px;

        a {
          color: $color-secondary;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      > section > article {
        padding: 20px 10px;
      }

      > footer {
        padding: 10px;
        border: 2px solid #eee;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: -3px;
        background: #fff;

        span.pu-sub-seperator {
          &:after {
            content: "•";
            margin: 0px 5px;
          }
        }
      }
    }
}
