.pu-contribution {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;

    &.unverified {
      img, figure {
        filter: grayscale(80%) brightness(70%) contrast(50%);
        -webkit-filter: grayscale(80%) brightness(70%) contrast(50%);
      }

      > p {
        color: gray;
      }
    }

    &-removed {
      font-style: italic;
    }

    &-none {
      color: #aaa;
      font-size: 14px;
      font-weight: 600;
      transition: color 0.2s ease-out;
    }

    &-own {
      cursor: pointer;

      .pu-avatar {
        text-align: center;

        .picon-pencil {
          color: white;
          margin-top: 6.5px;
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }
      }

      &:hover {
        .picon-pencil {
          opacity: 1;
        }

        .pu-contribution-none {
          color: $color-text;
        }
      }
    }

    &-verify {
      grid-column: 3;
      justify-self: flex-end;

      .pu-button {
        display: inline-block;
        width: auto;

        &:first-child {
          margin-right: 5px;
        }
      }
    }

    .pu-form {
      padding: 2.5px 0px;
      display: grid;

      grid-template-columns: 3fr 3fr 2fr;
      grid-template-rows: auto;

      grid-column-gap: 15px;
      grid-row-gap: 12px;

      @include goingLarge(900) {
        grid-template-columns: 3fr 3fr 2fr auto;
      }

      > label {
        align-self: flex-end;
        grid-row: 1;

        > span {
          display: block;
          font-weight: 700;
          font-size: em(15);
          margin: 0px 0px 4px 4px;
        }
        > input {
          display: block;
          width: 100%;
        }

        .pu-input {
          height: 40px;
        }

        .pu-input-select {
          padding: 10px 12px;
          vertical-align: bottom;
        }
      }

      > .pu-button {
        align-self: flex-end;
      }

      .button-wrap {
        grid-row: 2;
        grid-column: span 3;
        align-self: flex-end;

        @include goingLarge(900) {
          grid-row: 1;
          grid-column: 4;
        }

        > button {
          margin: 0px 3px;
        }
        .pu-button-text-subtle {
          float: right;
          margin-left: 10px;
        }
      }
    }

    > a {
      align-self: center;
      > img {
        display: inherit;
      }
    }

    > figure {
      grid-column: 1;
    }
    > p {
      grid-column: 2;
    }
}

    // .pu-sub-contribution-comments a {
    //     color: #aaa;
    //     font-size: 14px;
    //     font-weight: bold;
    //     text-decoration: none;
    //     transition: color 0.2s ease-out;

    //     &:hover {
    //         color: #999;
    //     }
    // }
