.pu-update {
  display: grid;
  grid-template-columns: 42px 65px calc(100% - 117px);
  grid-template-rows: auto 12px auto;
  grid-column-gap: 5px;

  display: -ms-grid;
  -ms-grid-columns: 42px 65px calc(100% - 117px);
  -ms-grid-rows: auto 12px auto;

  align-items: center;

  &-aside {
    grid-row: 1;
    grid-column: span 2;

    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;

    display: grid;

    grid-template-columns: 42px 65px;

    display: -ms-grid;
    -ms-grid-columns: 42px 65px;

    align-items: center;
    justify-items: center;


    .pu-sub-time {
      color: #7f7f7f;
      font-size: 12px;
      font-family: $font-primary;
      letter-spacing: 0.6px;

      vertical-align: middle;

      display: block;
      -ms-grid-column: 2;
      -ms-grid-row-align: center;
      -ms-grid-column-align: center;
    }
  }

  &-header {
    grid-row: 1;
    grid-column: 3;

    -ms-grid-row: 1;
    -ms-grid-column: 3;

    vertical-align: middle;
    -ms-grid-row-align: center;

    > h3 {
      font-size: 15px;
      line-height: inherit;

      > a {
        color: $color-secondary;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-content {
    grid-row: 3;
    grid-column: span 3;

    -ms-grid-row: 3;
    -ms-grid-column: 3;

    > p {
      padding: 12px;
      background: white;
      border: 2px solid #eee;
      border-radius: 5px;
    }
  }

  > .pu-block {
    grid-row: 3;
    grid-column: span 3;

    -ms-grid-row: 3;
    -ms-grid-column-span: 3;

    .pu-paragraph {
      width: calc(100% - 40px);
    }
  }

  &-comments {
    grid-row: 4;
    grid-column: span 3;

    -ms-grid-row: 4;
    -ms-grid-column-span: 3;

    margin-top: -2px;

    background: white;
    border: 2px solid #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @include goingLarge(805) {
    &-content, > .pu-block, &-comments {
      grid-column: 3;
      -ms-grid-column: 3;
    }
  }

  &-detail {
    .pu-block, .pu-activity, .pu-update-comments {
      grid-column: 3;
      -ms-grid-column: 3;
    }
  }

  &-placeholder {
    > p {
      grid-column: span 3;
    }
  }

  &-single {
    .pu-update-content, .pu-block, .pu-update-comments {
      grid-column: span 3;
      -ms-grid-column-span: 3;
    }

    @include goingLarge(805) {
      .pu-update-content, .pu-block, .pu-update-comments {
        grid-column: 3;
        -ms-grid-column: 3;
      }
    }
  }
}
