.pur-PopoverMenu {
    position: relative;
    &__button {
        border: 0;
        background: transparent;
        font-size: 16px;
        color: #494949;
        margin-top: -1.5px;
    }

    &__container {
        position: absolute;
        top: 0;
        right: 0;
        width: 130px;
        height: auto;
        background: #fff;
        border-radius: 4px;
        border: 2px solid #ccc;
        z-index: 1;

        > * {
            padding: 0.5em 0.625em;
            margin: 0;
            font-size: 14px;
            line-height: 1.6em;
            color: #494949;
            text-decoration: none;
            display: block;

            &:hover {
                text-decoration: none;
                color: #494949;
                background-color: #eee;
            }
        }
    }

}
